<div id="createInitiative" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form action="#" method="POST" id="update">
<!--          <div class="form-group">
            <label for="fullname" class="control-label">Author</label>
            <input type="text" name="initiative[fullname]" class="form-control" id="fullname" placeholder="Enter Author's name">
          </div>-->
          <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <input type="text" name="initiative[title]" class="form-control" id="title" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="image" class="control-label" >Image</label>
            <input type="url" name="initiative[image]" class="form-control" id="image" placeholer="http://domain.com/your_image.png">
          </div>
          <div class="form-group">
            <label for="description" class="control-label">Description</label>
            <textarea type="text" name="initiative[description]" class="form-control" rows="6" id="description"></textarea>
          </div>
          <div class="form-group">
            <label for="submit" class="control-label">Author</label>
            <button type="submit" class="form-control btn btn-primary" >Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>