<html>
<%- include partials/head.ejs %>

  <body>
    <div class="container-fluid welcome">
      <div class="auth-header text-center">
        <h1>Welcome to <span class="text-primary">AndelVoice</span></h1>
        <h5>A platform where you can share ideas and be heard</h5>
        <div id="accordion" class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 panel-group">
          <div class="pannel-heading">
            <h2 class="text-center">
              <a data-toggle="collapse" data-parent="#accordion" href="#our-mission">Our Mission</a>
            </h2>
          </div>
          <div id="our-mission" class="panel-collapse collapse our-mission">
            <h2 for="heading" class="control-label">At Andela we belive that</h2>
            <p>
              <strong>
                <em> 
                  brilliance is evenly distributed but opportunity is not and we are committed 
                  to bridging the gap between the two.
                </em>
              </strong>
            </p>
            <p>
              As part of our commitment to bridge the brilliance - opportunity gap, we came up with
               <strong class="text-primary">AndelVoice.</strong><br/>
              A platform and process where new initiatives can be crowd-sourced, floated, reviewed 
              and accepted and seamlessly added into the added into Andela Distributed Learning Community(DLC).
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row center">
          <div class="form-container col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-1">
            <p class="text-center"><strong>Login</strong></p>
            <form method="POST" action="/login">
              <div class="form-group">
                <div class="col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
                  <label for="username">Username</label>
                  <input name="username" type="text" class="form-control" id="username" placeholder="Your username" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
                  <label for="password">Password</label>
                  <input name="password" type="password" class="form-control" id="password" placeholder="Your password" required>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-login col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">Login</button>
                <h6 class="text-center"><a class="btn btn-link" href="/register">Don't have an account?</a></h6>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>