body.auth-body {
  background-color: mintcream;
  background-image: url('/images/Crowdsourcing.jpg');
}

.container-fluid.welcome{
  height: inherit;
  background-color: rgba(0,0,0,0.4);
}
.navbar-header{
  width:25%;
}
.img-brand {
  position: relative;
  width: 25%;
}
.navbar {
  height: 7em;
  background-color: #3258DE;
  padding: 0 2em;
}
.navbar {
  height: 7em;
  background-color: #3258DE;
  padding: 0 2em;
}

.btn-login {
  margin-top: 2em;
}


.nav.navbar-nav li a {
    color: white;
}

.navbar-button a {
  color:white;
}

@media (max-width: 767px){
  .navbar-collapse {
    background-color: rgba(50,88,222,0.5);
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.form-container {
  color: white;
  background-color:rgba(174, 236, 239, 0.4);
  padding: 2em;
  margin-top: 12.5em;
  margin-bottom: 5em;
}
.btn-link{
  color: white;
}

.auth-header{
  background-color: rgba(0,0,0, 0.8);
  color: White;
  position: fixed;
  top: 0;
  width: 95vw;
  z-index:1;
  margin-left: 1.5vw;
}

.auth-header h5 {
  margin-bottom: 0;
}

.andela-logo {
  position: relative;
  width: 10%;
  margin: 0 auto;
}