body { 
  background-color: #E0E2DB;
  font-family: 'Lato', sans-serif;

}
.img-circle {
  max-height: 10em;
  margin: 0 auto;
}
.news-feed{
  border: 1px solid gray;
}

.news-feed .row {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0, 0 5px 10px 0;
}

.news-feed .opinion-form {
  box-shadow: 0 1px 2px 0 lightgray, 0 4px 6px 0 lightgray 
}

.row.opinion-wrapper {
  box-shadow: 0 0 0 0;
  padding: 1em;
}


.row.opinion-wrapper .opinion-container {
  border-width: 0 0 1px 0;
  border-color: #80DED9 ;
  border-style: solid;
}

.opinion-container .votes {
  position: relative;
  float: left;
  width: 2em;
  height: 5px;
  background-color: rgba(0,0,0,0.8);
}

.news-feed h1, h4.author{
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #48A9A6;
}

h4.author{
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #48A9A6;
}
